apiVersion: v1
kind: ConfigMap
metadata:
  name: fip-controller-config
  namespace: {{ namespace.fipcontroller }}
data:
  config.json: |
    {
      "hcloud_floating_ips": [ {% for ip in floating_ipv4 %}"{{ ip }}"{% if not loop.last %},{% endif %}{% endfor %} ],
      "node_address_type": "external"
    }
